Llenguatge de Marques/Tema 2 - Validacio DTD i XSD/fabrica_automobils.dtd

<!ELEMENT fabrica_automobils (marca,peces)>
        <!ELEMENT marca (#PCDATA)>
        <!ELEMENT peces (peça+)>
        <!ELEMENT peça (nom, dissenyador,any,components)>
        <!ELEMENT nom (#PCDATA)>
        <!ELEMENT dissenyador (#PCDATA)>
        <!ELEMENT any (#PCDATA)>
        <!ELEMENT components (component+)>
        <!ELEMENT component (#PCDATA)>